h1 {
    border: 2px rgb(202, 197, 197) solid;
    color: rgb(117, 44, 44);
    text-align: center;
    padding: 10px;
}

div {
    background-color: #fff;
    background-image: url(masque-24.png);
    background-size: cover;
}

div img {
    width: 100%;
}

div img {
    mix-blend-mode: screen;
}